*{  
    font-size: 25px  ; text-align: center;
}

body {background-color:gold; border: 2px solid black;}
h2{color:grey; text-align: center; font-family: monospace;}
#FirstName { color:red}
.EmailAndPassword { color: blue;}
label[name="Notes"] { background-color: darkgray;}
